node_modules
backend/node_modules
frontend/node_modules
.env
backend/.env
frontend/.env
*.log
backend/data.sqlite*
frontend/dist
.DS_Store
tmp
/package-lock.json
/Card Game Rules.pdf
/yahtzee_rules.pdf
